.category-card {
  width: 170px;
  height: 180px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px; /* espacio para la imagen circular */
  position: relative;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
  margin-top: 60px; /* 🔹 separa las filas verticalmente */
  
}

/* La PRIMERA tarjeta queda más pegada a la frase */
.category-card:first-child {
  margin-top: 16px;   /* antes heredaba 40px */
}


.category-card:hover {
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.18);
}

/* Imagen circular */
.category-card-img {
  position: absolute;
  top: -35px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.category-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}


/* Título */
.category-card-title {
  font-size: 17px;
  font-weight: 600;
  color: #222;
  text-align: center;
  margin-top: 16px;
}
